@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: rgb(245, 245, 245);
}

@layer base {
  .fade-out {
    @apply transition  hover:hover:scale-x-105 hover:scale-y-105 delay-200;
  }
}

.op {
  animation: op linear forwards;
  animation-timeline: view();
}

@keyframes op {
  from {
    scale: 0;
    opacity: 0;
    display: none;
  }
  20% {
    scale: 1;
    opacity: 2;
  }
}
